extends layout

block content
  h1= title
  p <b>Discount Codes</b>
  p
    b Fashion
    ul
      li 10% of Price
      li Not Refundable
    b Furniture
    ul
      li 10 + (2% of Price )
      li Not Refundable
    b Jewelry
    ul
      li 0 < Price < 100: discount-free
      li Price >= 100: 1% of ( Price - 100
      li Not Refundable
